<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        [routerLink]="['/servers', server.id ]"
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"
        [fragment]="'loading'"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
      <button class="btn btn-primary" (click)="onRelaodServers()">Reload Servers</button>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!-- The following code has been replaced because of Nested Routes. -->
    <!-- The following tag <app-server> displays a server when we click on a particular server as the one and only component in the page -->
    <!-- But if you use <router-outlet> tag here the "app-server" component will be displayed besides the "app-servers" component -->
    <!-- <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server> -->
    <router-outlet></router-outlet>
  </div>
</div>

